<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
   
    <title>Title</title>
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">
  <div class="row">
  <h1>   Editar Projecto</h1>
  
  <div class="container"  style="width:100%">
          <div class="row">
              <div class="col-lg-12">
                <section class="panel">
                  <header class="panel-heading">
                
                  </header>
                  <div class="panel-body">
    <form class="form-horizontal" th:action="@{'/projects/update/'+${project.id}}" method="post">
        <!-- Campo oculto para simular o método PUT -->
        <input type="hidden" name="_method" value="put"/>
        
        <div class="form-group">
            <label class="control-label col-sm-4">Nome do Projeto</label>
            <div class="col-sm-5">
                <input name="name" th:value="${project.name}" type="text" class="form-control">
            </div>
        </div>

        <section class="panel">
            <div class="panel-body">
                <button type="submit" class="btn btn-success">Salvar</button>
                <a href="/projects" class="btn btn-warning">Voltar</a>
            </div>
        </section>
    </form>
</div>
          
              </div>

            </div>
  
  
  </div>
   
     

</div>
</body>
</html>